:root {
  --color-primary: #FD4766;
  --color-white: #ffffff;
  --color-dark: #f6f6f6;
}

body {
  font-family: 'Poppins', sans-serif;
}

.bg_dark {
  background-color: var(--color-dark);
}

/* Header */
header {
  position: absolute;
  top: 0;
  z-index: 1000;
  background-color: transparent;
}

header .btn-buy {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  border-radius: 500px;
  border: 2px solid #6e6965;
  margin-left: 30px;
  letter-spacing: 2px;
  padding: 18px 0;
  z-index: 1;
  width: 170px;
}

header .btn-buy:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-white);
}

.menu li {
  margin: 0 15px;
}

.menu .nav-link {
  color: #ffffff;
  font-weight: 400 !important;
}
.menu .nav-link:hover {
  color: var(--color-primary) !important;
}

/* Carausel */

/* .carousel {
  padding-top: 160px;
  padding-bottom: 160px;
  min-height: auto;
} */
.carousel-caption {
  top: 40%;
}

.carousel-caption-title {
  font-weight: 600;
  font-size: 72px;
}

.carousel-caption-content {
  font-size: 28px;
  font-weight: 100;
}

.carousel-item {
  /* vh: độ cao tương đối */
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

/* Page content */
.rounded_xl {
  border-radius: 0.6rem;
}

.hover_hidden {
  overflow: hidden;
}

.section_wrapper {
  width: 100%;
}

.section_container {
  padding-top: 90px;
  padding-bottom: 90px;
  margin-left: 55px;
  margin-right: 55px;
}

.intro_section {
  text-align: center;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.subtitle_section {
  font-size: 18px;
  font-weight: 500;
  background: -webkit-linear-gradient(#1C99FE 20.69%, #7644FF 50.19%, var(--color-primary) 79.69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title_section {
  font-size: 52px;
  font-weight: 500;
  text-transform: capitalize;
}

.description_section {
  font-size: 20px;
  font-weight: 400;
  color: #c6c6c6;
}

.content_section {
  padding-top: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#companyServices .ticket {
  margin-top: 15px;
  padding: 45px;
  background-color: rgb(246, 246, 246);
  border-radius: 25px; 
}

.icon_ticket {
  color: var(--color-primary);
  margin-bottom: 25px;
}

.tittle_ticket {
  font-size: 24px;
  font-weight: 600;
}

.card {
  margin-top: 45px;
}