:root {
  --color-primary: #FD4766;
  --color-white: #ffffff;
}

/* Header */
header {
  position: absolute;
  top: 0;
  z-index: 1000;
  background-color: transparent;
}

header .btn-buy {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  border-radius: 500px;
  border: 2px solid #6e6965;
  margin-left: 30px;
  letter-spacing: 2px;
  padding: 18px 0;
  z-index: 1;
  width: 170px;
}

header .btn-buy:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-white);
}

.menu li {
  margin: 0 15px;
}

.menu .nav-link {
  color: #ffffff;
  font-weight: 400 !important;
}
.menu .nav-link:hover {
  color: var(--color-primary) !important;
}

/* Carausel */

/* .carousel {
  padding-top: 160px;
  padding-bottom: 160px;
  min-height: auto;
} */
.carousel-caption {
  top: 40%;
}

.carousel-caption-title {
  font-weight: 600;
  font-size: 72px;
}

.carousel-caption-content {
  font-size: 28px;
  font-weight: 100;
}

.carousel-item {
  /* vh: độ cao tương đối */
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
